OPENAI_API_KEY=Your_OpenAI_API_Key

LITELLM_API_BASE=http://localhost:4000
LITELLM_API_KEY=Your_local_LiteLLM_key

# https://langfuse.abc.xyz/project/cmkaf3upa000lel07r4ehc9ru/settings/api-keys
LANGFUSE_PUBLIC_KEY=Your_Langfuse_Public_Key
LANGFUSE_SECRET_KEY=Your_Langfuse_Secret_Key

LANGFUSE_HOST=https://langfuse.abc.xyz
